 <div class="header">
    <p>Olá, <%= Current.user.name %></p>
    <%= button_to "Logout", session_path, method: :delete, class: "logout-button" %>
</div>
<div class="container">
  <h1>Transações</h1>
<%= turbo_stream_from "import_transactions" %>

<div id="notice">
  <% if notice %>
    <div class="notice"><%= notice %></div>
  <% end %>
</div>

<div id="alert">
  <% if alert %>
    <div class="alert"><%= alert %></div>
  <% end %>
</div>

<%= form_with url: import_api_v1_cnab_path, method: :post, class: "upload-form", multipart: true, data: { turbo: true } do |form| %>
  <%= form.file_field :file, class: "file-input" %>
  <%= form.submit "Importar", class: "button" %>
<% end %>

<div id="transactions-table">
  <%= render "api/v1/transactions/transactions_table", stores: @stores %>
</div>